<div class="container">
    <h1 class="header text-center border shadow mt-5 bg-success text-white">Task Details</h1>
    <div class="bs-example">
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th class="col-md-2">Title</th>
                    <th class="col-md-4">Description</th>
                    <th class="col-md-2">Due Date</th>
                    <th class="col-md-1">Status</th>
                    <th class="col-md-1">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (tsk of task$ | async; track $index) {
                <tr>
                    <td>{{tsk.title}}</td>
                    <td>{{tsk.description}}</td>
                    <td>{{tsk.dueDate | date}}</td>
                    <td>{{tsk.status}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary me-1" (click)="editTask(tsk)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger me-1" (click)="deleteTask(tsk)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>